$maincolor: #d9d9d9 #b026ff #00f0ff;

@font-face {
  font-family: "cera_probold";
  src: url("../fonts/cera_pro_bold-webfont.eot");
  src: url("../fonts/cera_pro_bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/cera_pro_bold-webfont.woff2") format("woff2"),
    url("../fonts/cera_pro_bold-webfont.woff") format("woff"),
    url("../fonts/cera_pro_bold-webfont.ttf") format("truetype"),
    url("../fonts/cera_pro_bold-webfont.svg#cera_probold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cera_promedium";
  src: url("../fonts/cera_pro_medium-webfont.eot");
  src: url("../fonts/cera_pro_medium-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/cera_pro_medium-webfont.woff2") format("woff2"),
    url("../fonts/cera_pro_medium-webfont.woff") format("woff"),
    url("../fonts/cera_pro_medium-webfont.ttf") format("truetype"),
    url("../fonts/cera_pro_medium-webfont.svg#cera_promedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cera_proregular";
  src: url("../fonts/cera_pro_regular-webfont.eot");
  src: url("../fonts/cera_pro_regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/cera_pro_regular-webfont.woff2") format("woff2"),
    url("../fonts/cera_pro_regular-webfont.woff") format("woff"),
    url("../fonts/cera_pro_regular-webfont.ttf") format("truetype"),
    url("../fonts/cera_pro_regular-webfont.svg#cera_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "jostregular";
  src: url("../fonts/jost-webfont.eot");
  src: url("../fonts/jost-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/jost-webfont.woff2") format("woff2"),
    url("../fonts/jost-webfont.woff") format("woff"),
    url("../fonts/jost-webfont.ttf") format("truetype"),
    url("../fonts/jost-webfont.svg#jostregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "jostbold";
  src: url("../fonts/jost-bold-webfont.eot");
  src: url("../fonts/jost-bold-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/jost-bold-webfont.woff2") format("woff2"),
    url("../fonts/jost-bold-webfont.woff") format("woff"),
    url("../fonts/jost-bold-webfont.ttf") format("truetype"),
    url("../fonts/jost-bold-webfont.svg#jostbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

body {
  background-color: #1a1a1a;
}

header {
  display: flex;
  justify-content: center;
  ul {
    display: inline-flex;
    justify-content: space-between;
    gap: 60px;
    list-style-type: none;
    li {
      a {
        font-family: "jostbold";
        font-weight: 400;
        font-size: 17px;
        line-height: 160%;
        color: #d9d9d9;
        text-decoration: none;
        transition: color 0.3s;
        &:hover {
          color: #b026ff;
        }
      }
    }
  }
}

.header-container {
  margin-top: 30px;
}

.hero-section {
  margin-top: 70px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.right-side-hero {
  perspective: 1000px;
  img {
    width: 100%;
    height: 500px;
    border-radius: 20px;
    transform-style: preserve-3d;
    transition: transform 0.2s ease;
    display: block;
  }
}

.left-side-hero {
  h1 {
    font-weight: 500;
    font-size: 64px;
    line-height: 120%;
    color: #b026ff;
    padding-bottom: 20px;
    font-family: "cera_probold";
  }
  p {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: #d9d9d9;
    padding-bottom: 20px;
    font-family: "jostbold";
  }
}

.typing-container {
  display: inline-block;
  overflow: hidden;
}

.typing {
  display: inline-block;
  white-space: nowrap;
  border-right: 2px solid #d9d9d9;
  font-family: "jostbold";
  width: 0;
  animation: typing 2s steps(30) infinite alternate,
    blink 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 10ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.social-links {
  display: flex;
  gap: 5px;
  list-style: none;
}

.resume {
  color: #f2f1f1;
  background-color: #b026ff;
  border-radius: 10px;
  padding: 9px 14px;
  text-decoration: none;
  font-family: "jostbold";
  display: inline-block;
  transition: 0.4s all;
  text-decoration: none;
  margin-right: 25px;
  &:hover {
    background-color: #00f0ff;
    color: #1a1a1a;
  }
  img {
    width: 20px;
    height: 20px;
    margin-left: 8px;
    vertical-align: middle;
  }
}

.github {
  display: inline-block;
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: 0.4s all;
  background-image: url("../images/git-hub.svg");
  &:hover {
    background-image: url("../images/git-hub-hover.svg");
  }
}

.in {
  display: inline-block;
  width: 41px;
  height: 41px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: 0.4s all;
  background-image: url("../images/linkedin.svg");
  &:hover {
    background-image: url("../images/linkedin-hover.svg");
  }
}

.about-section {
  margin-top: 180px;
}

.about {
  padding-left: 30px;
  padding-right: 30px;
  h2 {
    font-weight: 500;
    font-size: 50px;
    line-height: 120%;
    color: #b026ff;
    padding-bottom: 25px;
    font-family: "jostbold";
  }
  h3 {
    font-weight: 300;
    font-size: 20px;
    color: #4fc3f7;
    padding-bottom: 10px;
    font-family: "cera_promedium";
  }
  p {
    font-weight: 300;
    font-size: 25px;
    line-height: 140%;
    color: #d9d9d9;
    padding-bottom: 45px;
    font-family: "cera_promedium";
  }
}

.tech-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #1e293b;
  border-radius: 12px;
  padding: 20px;
  transition: 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

  &:hover {
    background: #334155;
    transform: translateY(-3px);
  }

  img {
    width: 43px;
    height: 43px;
    margin-bottom: 10px;
  }

  span {
    color: #d9d9d9;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    font-family: "cera_probold";
  }
}

.text {
  color: #ffffff;
}

.projects-section {
  margin-top: 180px;
  h2 {
    font-weight: 500;
    font-size: 50px;
    line-height: 120%;
    color: #b026ff;
    padding-bottom: 25px;
    font-family: "jostbold";
    margin-left: 30px;
  }
}

.projects {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.project {
  background: #1f2937;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
  max-width: 350px;
  flex: 1;
  p {
    font-weight: 300;
    font-size: 22px;
    color: #d9d9d9;
    padding-bottom: 15px;
    padding-top: 10px;
    font-family: "cera_promedium";
  }
  span {
    font-weight: 300;
    font-size: 15px;
    color: #d9d9d9;
    padding-bottom: 45px;
    font-family: "cera_promedium";
  }
  &:hover {
    transform: translateY(-7px);
  }

  img {
    width: 100%;
    height: 200px;
    border-radius: 12px;
    object-fit: cover;
    display: block;
  }
}

.tools {
  display: inline-flex;
  gap: 25px;
  align-items: center;
  background: #1e293b;
  border-radius: 12px;
  padding: 10px;
  transition: 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  &:hover {
    background: #334155;
    transform: translateY(-3px);
  }
  img {
    width: 30px;
    height: 30px;
  }
  a {
    font-weight: 300;
    font-size: 15px;
    color: #d9d9d9;
    font-family: "cera_promedium";
    text-decoration: none;
  }
}

.tools-wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-auto-rows: auto;
  gap: 10px;
  margin-bottom: 50px;
}

.contact-section {
  margin-top: 180px;
  h2 {
    font-weight: 500;
    font-size: 50px;
    line-height: 120%;
    color: #b026ff;
    padding-bottom: 25px;
    font-family: "jostbold";
    text-align: center;
  }
  p {
    font-weight: 500;
    font-size: 15px;
    line-height: 120%;
    color: #d9d9d9;
    padding-bottom: 20px;
    font-family: "cera_promedium";
    text-align: center;
    margin-bottom: 5px;
  }
}

.contact-section .container {
  max-width: 600px;
  margin: 0 auto;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form {
  input,
  textarea {
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #6a4084;
    background-color: #1e293b;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    font-family: "cera_promedium";
    color: #f1f1f1;
  }
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #887c7c;
}

.contact-form button {
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: #b026ff;
  color: white;
  cursor: pointer;
  transition: background-color 0.4s ease;
  font-family: "cera_probold";
  &:hover {
    background-color: #00f0ff;
    color: #1a1a1a;
  }
}

.social-media {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

footer {
  margin-top: 180px;
  p {
    font-weight: 500;
    font-size: 15px;
    line-height: 120%;
    color: #d9d9d9;
    padding-bottom: 20px;
    font-family: "cera_promedium";
    text-align: center;
    margin-bottom: 5px;
  }
}
